<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songhg.firefly.iot.device.mapper.DeviceMapper">

    <select id="selectByIdIgnoreTenant" resultType="com.songhg.firefly.iot.device.entity.Device">
        SELECT *
        FROM devices
        WHERE id = #{id}
          AND deleted_at IS NULL
        LIMIT 1
    </select>

    <select id="selectByProductIdAndDeviceNameIgnoreTenant" resultType="com.songhg.firefly.iot.device.entity.Device">
        SELECT *
        FROM devices
        WHERE product_id = #{productId}
          AND device_name = #{deviceName}
          AND deleted_at IS NULL
        LIMIT 1
    </select>

</mapper>
