<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songhg.firefly.iot.support.mapper.InAppMessageMapper">

    <select id="countUnread" resultType="int">
        SELECT COUNT(*)
        FROM in_app_messages
        WHERE tenant_id = #{tenantId}
          AND user_id = #{userId}
          AND is_read = false
    </select>

</mapper>
